

@font-face {
  font-family: "Macondo";
  src: url(./fonts/Macondo-Regular.woff2) format("woff2");
  src: url(./fonts/Macondo-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.woff2) format("woff2");
  src: url(./fonts/Roboto-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Italic";
  src: url(./fonts/Roboto-Italic.woff2) format("woff2");
  src: url(./fonts/Roboto-Italic.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Roboto Regular", sans-serif, system-ui;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: auto;
}

div#left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    position: relative;
}

div#background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}

div#background > img {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

div#right {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    width: 60%;    
}

form {
    background-color: white;
}

#logo-banner {
    display:flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    margin-top: 40vh;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 125px;
}

#logo-img {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    max-width: 40%;
    /* margin-left: 50px; */
}

#logo-img > img {
    display:flex;
    width: auto;
    height: 80%;
    opacity: 1;
}

#logo-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: left;

    
    font-family: "Macondo", "Roboto Regular", sans-serif, system-ui;
    font-size: 5em;
    color: white;
    z-index: 3;
}

#credit {
    display:flex;
    flex: 1;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;
}

#credit > p {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    color: white;
}

a {
    color: white;
}