:root {
    --camel: #C9A378ff;
    --pitch-black: #121406ff;
    --charcoal: #575656ff;
    --air-force-blue: #738F9Cff;
    --charcoal-brown: #2E2B1Cff;
}

@font-face {
  font-family: "Macondo";
  src: url(./fonts/Macondo-Regular.woff2) format("woff2");
  src: url(./fonts/Macondo-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.woff2) format("woff2");
  src: url(./fonts/Roboto-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Italic";
  src: url(./fonts/Roboto-Italic.woff2) format("woff2");
  src: url(./fonts/Roboto-Italic.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Roboto", sans-serif, system-ui;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: auto;
    line-height: 1.5;

}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

div#left {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    position: relative;
}

div#background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}

div#background > img {
    display: block;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}

div#right {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    width: 55%;    
}

#logo-banner {
    display:flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    margin-top: 27.5vh;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 125px;
}

#logo-img {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    max-width: 40%;
    /* margin-left: 50px; */
}

#logo-img > img {
    display:flex;
    width: auto;
    height: 80%;
    opacity: 1;
}

#logo-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: left;

    font-family: "Macondo", "Roboto", sans-serif, system-ui;
    font-size: 5em;
    color: white;
    z-index: 3;
}

#credit {
    display:flex;
    flex: 1;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;
}

#credit > p {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
}

a {
    color: white;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {
    font-size: 1.6em;
    padding-top: 150px;
    margin: 0 125px 75px 50px;
}

h2 {
    margin: 0;
}

.wrapper {
    background-color: white;
    padding: 25px 0 25px 50px;
    /* border-bottom: 8px inset ; */
    box-shadow: -3px 8px 8px rgb(199, 199, 199);
}

form {
    display: grid;
    position: relative;
    justify-content: left;
    box-sizing: border-box;
}

#required-note {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 50px;
}

/* .grid-container > fieldset:nth-of-type(2) {
    margin-left: 80px;
} */

fieldset {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: left;
    border: none;
    padding: 0;
}

fieldset > div {
    margin-top: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 0.3em 0.3em;
    min-width: 0;
}

label {
    font-size: 0.8em;
    font-family:inherit;
    text-transform:uppercase;
}

#button {
    padding: 60px 50px;    
    font-size: 1.1em;
}

button {
    min-width: fit-content;
    padding: 15px 50px;
    font-weight: bold;
    color: white;
    background-color: var(--air-force-blue);
    border: none;
    border-radius: 5px;
}

#call-to-action {
    padding: 0 50px;
    
}

#call-to-action > p > a {
    color: var(--air-force-blue);   
    font-weight: bold;
}

input:focus {
    outline: solid 1px var(--air-force-blue);
}

input:user-valid {
    outline: solid 1px green;
}

input:user-invalid {
    outline: solid 1px red;
}